<div class="wrapper">
  <div class="hero">
    <div>
      <h1 class="mat-display-4 hero-title">אודותינו</h1>
    </div>
  </div>
  <div class="container">
    <h1 class="mat-display-2">רשת מכללות אורט</h1>

    <p class="paragraph">
      רשת מכללות אורט היא חלק מרשת אורט ישראל, שנוסדה בשנת 1949, ומונה כמאתיים
      מוסדות חינוך, ובהם שבע מכללות גדולות להנדסאים וללימודי תעודה וכשלושים
      מכללות ללימודי עתודה טכנולוגית (י"ג-י"ד). הרשת מכשירה אלפי תלמידים
      וסטודנטים בתחומים טכנולוגיים ומדעיים ונותנת מענה לקשת רחבה של אוכלוסיות
      בחברה הישראלית במגוון מסלולי לימוד והסמכות, בלימודי הנדסאים, בלימודי
      תעודה, במכינות טכנולוגיות ובמסלול אופק אקדמי, המאפשר להנדסאים להשלים תואר
      אקדמי.
    </p>
    <p  class="paragraph">
      רשת מכללות אורט חרטה על דגלה להיות הבחירה המועדפת על הסטודנטים וחברי הסגל,
      להוביל למצוינות ולפעול להכשרת דור העתיד הטכנולוגי של התעשיות המובילות
      בישראל. מכללות אורט פועלות לעיצוב תכנית לימודים המותאמת לצורכי התעשייה,
      בשיתוף משרדי הממשלה, צה"ל, תעשיות ההייטק ותעשיות מובילות נוספות. בוגרי
      מכללות אורט משתלבים בתפקידי מפתח בשוק העבודה, במגזר הפרטי, הציבורי
      וכעובדים עצמאיים, בתחומים רבים ומגוונים.
    </p>
    <p  class="paragraph">הרשת מציעה שלושה מסלולי לימוד עיקריים:</p>
    <p  class="paragraph">
      לימודי הנדסאים במסלולי מה"ט – הלימודים מיועדים למועמדים לאחר שירות צבאי,
      ומקנים לבוגרים דיפלומת הנדסאי מטעם המכון הממשלתי להכשרה במדעים ובטכנולוגיה
      במשרד הכלכלה והתעשייה, הרווחה והשירותים החברתיים (מה"ט).
    </p>
    <p  class="paragraph">
      לימודים במסגרת העתודה הטכנולוגית – מיועדים לבוגרי י"ב המעוניינים ללמוד
      לתואר הנדסאי לפני שירותם הצבאי. הלימודים מקנים דיפלומת הנדסאי מטעם משרד
      החינוך ומאפשרים להשתלב במקצוע במסגרת השירות הצבאי. רשת מכללות אורט מכשירה
      כ-35% מכלל ההנדסאים במסלולי העתודה הטכנולוגית עבור צה"ל ובכלל.
    </p>
    <p  class="paragraph">
      לימודי תעודה – היחידה ללימודי תעודה של רשת מכללות אורט מציעה מגוון קורסים
      במקצועות העיצוב, הטכנולוגיה, המינהל והחשבונאות, ההייטק, מקצועות
      פרה-רפואיים, קולינריה והשתלמויות נוספות.
    </p>
    <p class="paragraph" >
      הרשת מכשירה גם מאות הנדסאים הלומדים במסלול "הנדסאי ישיר לתעשייה", כיתות
      ייעודיות, עם הבטחה להשמה לעבודה בתום הלימודים. בתכניות לימודים ייחודיות
      אלו תכני הלימוד, מתכונת הלימודים ומשך מסלול הלימודים נבנו במיוחד והותאמו
      לצורכי החברות והארגונים השותפים. כיתות "הנדסאי ישיר לתעשייה" הפועלות
      במכללות אורט מהוות דגם עבודה מנצח, בשילוב שבין המכללות, התעשייה, מה"ט
      וגופים נוספים הנרתמים לסייע להצלחה. כך נפתחו כיתות בשיתוף אל על, תעשייה
      אווירית, חברת החשמל, רכבת ישראל, ישקר, רפאל, אלאופ, מלונות דן, אלקטרה,
      אמרל, חברות הייטק רבות ועוד. שיתופי פעולה אלו ועבודה מקצועית ואיכותית
      המתקיימת במכללות אורט תורמים להשתלבות בוגרי הרשת בתפקידי מפתח בחברות
      מובילות במשק הישראלי.
    </p>
    <p  class="paragraph">
      המרצים במכללות אורט הם בעלי ותק וניסיון רב בתחום העיוני והמעשי ומרביתם
      בעלי תואר שני ושלישי. סגל ההוראה מגוון מאוד ומאפשר התאמה מדויקת בין תחומי
      הלימוד למרצים המומחים.
    </p>
    <h1 class="mat-display-2">מכללות אורט בפריסה ארצית:</h1>
    <div class="phones-container">
      <ul>
        <li>
          <p  class="paragraph">
            <a href="https://c.ort.org.il/braude/"
              ><strong
                >המכללה הטכנולוגית להנדסאים אורט בראודה כרמיאל&nbsp;</strong
              ></a
            >
          </p>
          <p><span style="font-weight: 400"> 1-700-50-62-72</span></p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/kiryat-bialik/"
              ><strong>מכללת אורט קריית ביאליק </strong></a
            >
          </p>
          <p>04-8490091</p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/hermelin-netanya/"
              ><strong>מכללת אורט הרמלין נתניה&nbsp;</strong></a
            >
          </p>
          <p>1-700-50-16-16</p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/kfar-saba/"
              ><strong>מכללת אורט דיזיין כפר סבא </strong></a
            >
          </p>
          <p>1-800-38-38-17</p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/singalovski-telaviv/"
              ><strong>מכללת אורט סינגאלובסקי תל אביב&nbsp;</strong></a
            >
          </p>
          <p>1-700-50-90-20</p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/jerusalem/"
              ><strong>מכללת אורט ירושלים&nbsp;</strong></a
            >
          </p>
          <p>1-700-70-11-11</p>
        </li>
        <li>
          <p>
            <a href="https://c.ort.org.il/rehovot/"
              ><strong>מכללת אורט רחובות </strong></a
            >
          </p>
          <p>1-700-502-602</p>
        </li>
        <li>
          <p><strong>מכללות בית ספריות</strong></p>
        </li>
      </ul>
    </div>
  </div>
</div>
