<section id="create-article">
  <div class="container">

    <h1>עדכון פוסט</h1>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" >
      <ort-va-input
        [config]="headingConfig"
        [formControlName]="headingConfig.name"
      ></ort-va-input>
      <ort-va-input
        [config]="subheadingConfig"
        [formControlName]="subheadingConfig.name"
      ></ort-va-input>
      <ort-va-input
        [config]="detailConfig"
        [formControlName]="detailConfig.name"
      ></ort-va-input>
      <ort-va-dorpdown-selection [config]="categoryConfig" [formControlName] = "categoryConfig.name" > </ort-va-dorpdown-selection>
      <ort-file-upload [nameBefore]="article?.originalimgname" [isDisabled]="true" [formControlName] = "'img'" [progress]="progress" ></ort-file-upload>
      <ort-button type="submit" class="btn" className="mat-raised-button bar-btn-primary"
        >עדכן</ort-button
      >
    </form>
  </div>
</section>
