
<ng-container *ngIf="alumnusModel$ | async as alumnus;">
  <div class="wrapper">
    <ng-container *ngIf="state.theState$ | async as Tstate">
        <div class="tab-navigation">
          <app-side-nav
            [alignment]="Tstate.configuration.NavigationData.alignment"
            [routes]="Tstate.configuration.NavigationData.routesData"
            [routingMethod]="Tstate.configuration.NavigationData.routingMethod"
            (submitted)="onActiveChange($event)"
          ></app-side-nav>
        </div>
        <div class="content">
          <ort-form
            #form
            [configuration]="Tstate.activeForm"
            (submitted)="onSubmit($event)"
            [dataToPatch]="alumnus"
            ></ort-form>
            <!-- [ReaquestIsDone]="requestIsDone | async" -->
          <ort-button
            class="btn"
            className="mat-raised-button bar-btn-primary"
            (click)="onDeleteAlumnus()"
            >מחק פרופיל מורה</ort-button
          >
        </div>
    </ng-container>
  </div>
</ng-container>
