// .alumnus-profile {
//   height: 100%;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: minmax(max-content, 1fr) minmax(min-content, 6fr);
// }
:host {
  height: 100%;
  display: block;
    .button-mode {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      .btn {
        position: absolute;
        top: 20%;
        left: 50%;
      }
      // .title {
      //   position: relative;
      //   top: 5%;
      //   left: 0;
      // }
    }
    .btn-edit {
      margin-top: 20px;
      .sub-btn-edit {
        display: inline-block;
      }
    }
    .wrapper {
      max-width: 98%;
      height: 98%;
      margin: auto;
      padding: 1.5rem;
      // overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }
