:host {
  .hero-about {
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: -80px;
    z-index: 4;
    overflow: hidden;
    display: grid;
  }
  // .downanchor {
  //   display: block;
  //   width: 1px;
  //   height: 0px;
  // }

  .main-title {
    position: relative;

    padding: 4rem 5rem;

    &::after {
      position: absolute;
      bottom: 0px;
      right: calc(50% - 3.2rem);
      height: 0.7rem;
      width: 6rem;
      background-color: var(--white);
      content: '';
    }
    &.bg-after-primary {
      &::after {
        background-color: var(--primary-color);
      }
    }
  }
  #short-about {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    position: relative;
    top: -80px;
    padding: 20px 0;
    margin-top: 79px;
    p {
      padding: 0rem 3rem;
      word-spacing: 0.7rem;
      line-height: 5rem;
    }
  }
  .btn {
    width: 50px;
    font-size: 50px;
    height: 50px;
  }
  #feature-links {
    background-color: var(--accent-color);
  }
  // .mat-icon {
  //   font-size: inherit !important;
  //   padding: 2rem 4rem;
  //   width: 100%;
  //   height: 100%;
  // }

  #features-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;

    .feature-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 4rem;
      ort-button {
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.6s;
        &:hover {
          transform: scale(1.1);
        }
      }

      h4 {
        margin-top: 1rem;
        margin-bottom: 0rem;
        &h1 {
          margin-top: 1rem;
          margin-bottom: 0rem;

        }
      }
    }
  }

  #categories {
    background-color: var(--accent-100);
    color: var(--primary-color);
    text-align: center;
    .category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    .pre-articles {
      padding: 0.5rem 1rem;
      .more {
        text-align: start;

        .more-btn {
          display: inline-block;
          color: var(--accent-color);
          margin: 2rem 4rem;

          &:hover {
            text-decoration: underline 0.15rem;
          }
        }
      }
    }
  }
}
