<div id="home-page" appScrollManager>
  <div class="hero-about">
    <app-hero [anchorName]="'short-about'" [withDownScroll]="true"></app-hero>
    <section id="short-about" appScrollSection="short-about">
      <!-- <div class="downanchor">&nbsp;</div> -->
      <div class="container">
        <h1 class="mat-display-2 main-title">במיוחד בשבילכם</h1>
        <p class="mat-display-1">
          בוגרים וסטודנטים יקרים השקנו במיוחד עבורכם אתר המכיל שלל פונקציות, אשר
          יסייעו לכם עוד במהלך הלימודים וגם לאחרם.
        </p>
        <div id="features-links">
          <div class="feature-link">
            <ort-button className="custom sz-2" iconName="badge"></ort-button>
            <h1>תעסוקה</h1>
          </div>
          <div class="feature-link">
            <ort-button className="custom sz-2" iconName="groups"></ort-button>
            <h1>רשת חברתית</h1>
          </div>
          <div class="feature-link">
            <ort-button
              className="custom sz-2 "
              iconName="support_agent"
            ></ort-button>
            <h1>מורים פרטיים</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section id="categories">

      <div class="category generally">
        <h1 class="mat-display-2 bg-after-primary main-title">כללי</h1>
        <ng-container *ngIf="articles$ | async as arts">
          <div class="pre-articles">
            <ort-carousel>
              <ng-container *ngFor="let article of arts">
                <a [routerLink]="['../article-detail', article.id]">
                  <ort-card
                    [heading]="article.heading"
                    [subheading]="article.subheading"
                    [img]="endPoint + article.img"
                    [detail]="article.detail"
                  ></ort-card>
                </a>
              </ng-container>
            </ort-carousel>

          </div>
        </ng-container>
        <ort-button
          class="more-btn"
          routerLink="../create-article"
          className="custom"
          [iconColor]="'primary'"
          >ראה עוד</ort-button
        >
      </div>
      <div class="category events">
        <h1 class="mat-display-2 bg-after-primary main-title">אירועים</h1>
      </div>
  </section>
</div>
