
<ng-container  *ngIf="this.isLoading$ | async;else spinner" >

  <div class="wrapper">

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="btn-edit">
      <ort-button
        class="btn spacial"
        className="mat-raised-button bar-btn-primary"
        (click)="screenToShow()"
      >
        {{ IsEditMode ? 'הצג פרטי פרופיל' : 'ערוך פרטים' }}
      </ort-button>
    </div>
  </div>
</ng-container>


<ng-template #spinner>
  <ort-spinner>
  </ort-spinner>
</ng-template>