// :host {
//   main {
//     min-height: 100%;
//     .header {
//       height: auto;
//     }
//     .auth-content {
//       min-height: 88%;
//     }
//   }
// }

@use 'variables' as va;
:host {
  main {
    height: 100vh;
    .header {
      height: va.$nav-bar-height;
    }
    .auth-content {
      height: va.$content-height-by-nav-bar
    }
  }
}
