@use 'media' as media;
:host {
  .focused {
    transform: rotate(-90deg);
  }
  #nav {
    position: relative;
    &::after {
      position: absolute;
      display: block;
      content: '';
      bottom: -1%;
      border-bottom: var(--accent-a-color) 0.2rem solid;
      // border-bottom: var(--accent-a-color) 2px solid;
      width: 100%;
    }
    .active {
      border-bottom: var(--black-color) 0.1rem solid;
    }

    .container {
      padding: 0.4rem 1rem;
      @media #{media.$break3max} {
        padding: 0.8rem 3rem;
      }
      #boxes {
        // height: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr 2fr 1.5fr;
        place-content: center;
        align-items: center;
        text-align: end;
        column-gap: 2rem;
        @media #{media.$break1} {
          grid-template-columns: 2fr 5fr 2fr;
        }
        .search {
          @media #{media.$break1} {
            display: none;
          }
          ort-button {
            padding: 0.4 0.8rem;
            border-radius: 0.4rem;
            margin: 1.5rem;
            @media #{media.$break3max} {
              width: 5px;
              height: 5px;
            }
            &:hover {
              color: var(--primary-darker-color);
            }
          }
        }
        .img {
          transition: all 0.6s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .links {
          display: flex;

          font-size: 2rem;
          font-weight: 400;
          font-family: 'David Libre', serif;
          color: rgb(60, 60, 60);
          align-self: flex-end;
          text-align: start;
          padding-bottom: 1.5rem;
          a {
            margin-right: 1.5rem;
            &:hover {
              color: var(--primary-darker-color);
              border-bottom: var(--primary-darker-color) 0.2rem solid;
            }
            @media #{media.$break1} {
              font-size: 13px;
              font-weight: 500;
            }
            @media #{media.$break2} {
              font-size: 17px;
              font-weight: 500;
            }
          }
        }
        // img {
        //   width: 12.2rem;
        //   height: 10.4rem;
        // }
      }
    }
    .menu {
      width: fit-content;
      display: block;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 2rem;
      cursor: pointer;
      transition: all 1s;
      .wrapper {
        display: contents;
        background-color: rgb(60, 60, 60);
        width: 100%;
        height: 100%;
        &:hover {
          background-color: var(--primary-darker-color);
          color: var(--primary-darker-color);
        }
        span {
          display: block;
          background-color: inherit;
          height: 0.3rem;
          width: 3.5rem;
          transition: all 0.3s linear 0s;
          align-self: center;
          position: relative;
          transform: none;
          @media #{media.$break1} {
            height: 0.26rem;
            width: 2.6rem;
          }
          @media #{media.$break2} {
            height: 0.26rem;
            width: 3.3rem;
          }
          &:before {
            width: inherit;
            height: inherit;
            background-color: inherit;
            content: '';
            position: absolute;
            transition: all 0.3s linear 0s;
            transform: rotate(0deg);
            top: -0.9rem;
            left: 0;
            @media #{media.$break3max} {
              top: -0.6rem;
            }
          }

          &:after {
            width: inherit;
            height: inherit;

            background-color: inherit;
            content: '';
            position: absolute;
            transition: all 0.3s linear 0s;
            opacity: 1;
            transform: rotate(0deg);
            top: 0.9rem;
            left: 0;
            @media #{media.$break3max} {
              top: 0.6rem;
            }
          }
        }
        .menu-text {
          color: inherit;
          font-weight: 500;
          margin-top: 0.9rem;
          text-transform: uppercase;
          display: block;
          text-align: center;
          @media #{media.$break1} {
            margin-top: 0.5rem;
            font-size: 9px;
          }
        }
      }
    }
  }
}
