<section id="nav">
  <div class="container">
    <div id="boxes">
      <button class="box menu" [ortFeatureModal]="modalMenuTreeData">
        <div class="menu-wrapper">
          <div class="menu-bar"></div>
          <div class="menu-bar"></div>
          <div class="menu-bar"></div>
          <div class="menu-text">תפריט</div>
        </div>
      </button>
      <div class="box links">
        <ng-container *ngFor="let link of links">
          <a
            class="clink"
            routerLinkActive="active"
            [routerLink]="link.route"
            *appShowIfLoggedIn="link.showIfLogin"
          >
            {{ link.label }}
          </a>
        </ng-container>
      </div>
      <div class="box search">
        <ort-button
          [ortFeatureModal]="modalData"
          (afterClosedOutput)="onSearch($event)"
          className="custom sz-1"
          iconName="search"
        >
        </ort-button>
      </div>
      <div class="box img">
        <a routerLink="/">
          <img src="assets/images/header_logo_gray.png" alt="ort medium logo" />
        </a>
      </div>
    </div>
  </div>
</section>