<div class="container">
  <div id="boxes">
    <div class="box menu" >
      <div class="wrapper">
        <span  ></span>
        <div class="mat-small">תפריט</div>
      </div>
    </div>
    <div class="box links">
      <ng-container *ngFor="let link of links">
        <a class="clink" routerLinkActive="active" [routerLink]="link.route">
          {{ link.label }}
        </a>
      </ng-container>
    </div>
    <div class="box search">
      <ort-button
        className="custom"
        iconName="search"
        (click)="onOpenDialog()"
      >
      </ort-button>
    </div>
    <div class="box img">
      <a [routerLink]="''">
        <img src="assets/images/header_logo.jpg" alt="ort medium logo" />
      </a>
    </div>
  </div>
</div>
