<div class="footer">
  <div class="boxes">

    <div class="box comunication">
      <h2 class="title">התחברו אלינו</h2>
      <div class="comunication-items">
        <div class="instegram item">
          <ort-svg-logo class="mrg-x-1" [src_icon]="instegram_icon"></ort-svg-logo>
        </div>
        <div class="linkedin item">
          <ort-svg-logo class="mrg-x-1" [src_icon]="linkedin_icon"></ort-svg-logo>
        </div>
        <div class="facebook item">
          <mat-icon class="mrg-x-1" aria-hidden="false" aria-label="facebook link"
            >facebook</mat-icon
          >
        </div>
        <div class="youtube item">
          <ort-svg-logo class="mrg-x-1" [src_icon]="youtube_icon"></ort-svg-logo>
        </div>
      </div>
    </div>

    <div class="box contact">
      <h2 class="title">דרכי התקשרות</h2>
      <div class="phone item">
        <a>
          <mat-icon class="mrg-x-1" aria-hidden="false" aria-label="phone icon"
            >phone</mat-icon
          >
        </a>
        <h4>02-5864831</h4>
      </div>
      <div class="fax item">
        <mat-icon class="mrg-x-1" aria-hidden="false" aria-label="fax icon"
          >fax</mat-icon
        >
        <h4>02-5864834</h4>
      </div>
      <div class="whatsapp item">
        <mat-icon class="mrg-x-1" aria-hidden="false" aria-label="whatsapp link"
          >whatsapp</mat-icon
        >
      </div>
    </div>

    <div class="location box">
      <h2 class="title">פרטי הגעה</h2>
      <h2 class="sub-title">ארגון בוגרי מכללות אורט</h2>
      <h4>
        הנביאים 2, בניין 3,<br />קומת כניסה ,ירושלים<br />
        המשרד פועל בין השעות 9:00 - 13:00<br />
        בימים א - ה
      </h4>
      <div class="location-logo">
        <div class="item location">
          <mat-icon class="mrg-x-1" aria-hidden="false" aria-label="location icon"
            >place</mat-icon
          >
          <a href="">מפה</a>
        </div>
        <div class="waze item">
          <ort-svg-logo class="mrg-x-1" [src_icon]="waze_icon"></ort-svg-logo>
          <a href="" >נווט אלינו</a>
        </div>
      </div>
    </div>

    <div class="box ort-logo ">
      <img src="'./../../../../assets/images/footer-logoo.png" >
    </div>
  </div>
</div>
