<div class="main-hero">
  <section [class]="'hero ' + classVideo">
    <div class="hero-videoo">
      <img [src]="srcImage" class="hero-image" />
      <!-- <youtube-player  videoId="JaCoOMPNgJE"  [width]="videoWidth" [height]="videoHeight"  ></youtube-player> -->
      <ort-feature-youtube-player
        class="hero-video"
        [playerConfig]="YT_HERO_DATA"
      ></ort-feature-youtube-player>
      <div *ngIf="withDownScroll" class="downscroll">
        <a [ortScrollAnchor]="anchorName">
          <div class="main-downscroll">down</div>
          <div class="after-downscroll"></div>
        </a>
      </div>
    </div>
    <h2 class="title">
      {{ title }}
    </h2>
  </section>
</div>
