@use 'media' as media;
@use 'mixins' as mix;
:host {
  #hero {
    // font-size: 3rem;
    width: 100%;
    // height: auto;
    position: relative;
    // font-size: 30px;
    font-size: 3rem;
    .hero-video {
      display: none;
    }
    height: auto;
    // height: calc(100vh - 185px);

    @media (min-height: 900px) {
      .hero-image {
        display: none;
      }
      .hero-video {
        display: unset;
      }
      height: auto;
    }
    $h: height;
    overflow: hidden;
    .hero-image {

      z-index: 1008;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      width:100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-videoo {
      width: inherit;
      height: 100%;
    }
    .title {
      position: absolute;
      color: var(--white);
      bottom: 8%;
      right: 5%;
      opacity: 0.9;
      margin: 0;
      // right: 70px;
      // bottom: 100px;
      font-weight: 600;
      @media #{media.$break1} {
        // font-size: 30px;
        font-size: 3rem;
        right: 5%;
        bottom: 1%;
      }
      @media #{media.$break2} {
        // font-size: 50px;
        font-size: 5rem;
        right: 6%;
        bottom: 5%;
      }
    }

    .downscroll {
      @media (min-height: 500px) and (max-height: 700px) and (min-width: 1200px)
      {
        display: none;
      }
      @media #{media.$break3max} {
        display: none;
      }
      height: auto;
      // height: 0;
      background-color: var(--primary-color);
      // position: relative;
      a {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        top: -8rem;
        // top: -80px;
        left: 0px;
        // height: 80px;
        height: 8.8rem;
        width: 100vw;
        background-color: transparent;
        background-blend-mode: multiply;
        color: rgb(255, 255, 255);
        text-align: center;
        // height: 40px;
        // top: -40px;
        transition: all 0.6s;
        &:hover {
          background-color: var(--trans-primary-color);
        }

        div {
          display: block;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          height: 8.8rem;
          // height: 80px;
          width: 100%;
          mix-blend-mode: multiply;
          // width: calc(100% - 122px);
          // width: calc(100% - 12.2rem);
          background-color: var(--primary-color);
          // @media #{media.$break4} {
          // width: calc(100% - 122px);
          // width: calc(100% - 12.2rem);
          // }
        }

        .main-downscroll {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAPCAYAAACm25zCAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAMqADAAQAAAABAAAADwAAAAAPsvGmAAABQElEQVRIDdWVDZHCMBCFWwcnAQlIqIPDAZWAA5CAA3DSSsBBcEAdlO/BMncNSWj5LTvzSLJNdt+XMpC1bVuiA6rQb/YlgdfCPMt7mfHhhyMxHyuPvKEKdUIgdSfzt3BMRwMkL8ihUNSni+fJCu1DO8g5NEc/n3hL1tsxhqIhKe9dbyRKFAPSd3GJuodeQKce1ssxhkIeFyjthQ0fAZIxtES6tFAIoBx8dzqEdqGK5C5vaDK4sHeAWq8B8PpkNCpQjWKx4cFgIJ1BOht7A+o58/08vKboU4CocwFgGgwBFA8bvlVATdA2aOGc3DBcGSE3DgAf0IylgCoBmTSPhWpM/fpvX2NCN50CSgFM3m74VkMDWjM2MeeWF/T4AHxATOrndIX+A2muXPpPzC/Wc5333HfXNjO9sMPrPM+buwr1OHQEUeVx0LRnpbYAAAAASUVORK5CYII=);
          z-index: 3;

          // width: 50px;
          width: 5rem;
          height: 1.5rem;
          // height: 15px;
          margin: 0px auto;
          color: transparent;
          background-size: cover;
          transition: all 0.6s;
          &:hover {
            transform: scale(1.1);
          }

          @include mix.interval_shaker;
        }
        .after-downscroll {
          // @media #{media.$break4}{
          position: absolute;
          top: 0px;
          right: -4.5rem;
          height: 8.8rem;
          width: 22.2rem;
          // right: -45px;
          // height: 80px;
          // width: 222px;
          z-index: 4;

          transform: skew(135deg);
          background-image: none;
          background-color: var(--primary-color);
          cursor: initial;
          // }
        }
      }
    }
  }
}
