
<ng-container [ngSwitch]="teacherQuery.isTeacherLoaded$ | async">
  <ng-container *ngSwitchCase="true">
    <ng-container *ngIf="teacherModel$ | async as teacher">
      <div class="wrapper">
        <ng-container *ngIf="state.theState$ | async as Tstate">
          <ng-container *ngIf="!IsEditMode">
            <app-teacher-detail [details]="teacher"></app-teacher-detail>
          </ng-container>
          <ng-container *ngIf="IsEditMode">
            <!-- <div class="teacher-profile-edit"> -->
            <div class="tab-navigation">
              <app-side-nav
                [alignment]="Tstate.configuration.NavigationData.alignment"
                [routes]="Tstate.configuration.NavigationData.routesData"
                [routingMethod]="Tstate.configuration.NavigationData.routingMethod"
                (submitted)="onActiveChange($event)"
              ></app-side-nav>
            </div>
            <div class="content">
              <ort-form
                #form
                [configuration]="Tstate.activeForm"
                (submitted)="onSubmit($event)"
                [dataToPatch]="teacher"
                [ReaquestIsDone]="requestIsDone | async"
              ></ort-form>
              <ort-button
                class="btn"
                className="mat-raised-button bar-btn-primary"
                (click)="onDeleteTeacher()"
                >מחק פרופיל מורה</ort-button
              >
            </div>
            <!-- </div> -->
          </ng-container>
          <div class="btn-edit">
            <ort-button
              class="btn spacial"
              className="mat-raised-button bar-btn-primary"
              (click)="IsEditMode = !IsEditMode"
            >
              {{ IsEditMode ? 'הצג פרטי פרופיל' : 'ערוך פרטים' }}
            </ort-button>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div *ngSwitchCase="false">
    <div class="button-mode container">
      <h1 class="title">באפשרותך ליצור כרטיס מורה</h1>
      <ort-button
        class="btn"
        className="custom fancy_btn"
        routeTo="/auth/register-teacher"
        >לחץ למעבר</ort-button
      >
    </div>
  </div>
  <ng-container *ngSwitchDefault>
    <ort-spinner>
    </ort-spinner>
  </ng-container>
</ng-container>









