<nav class="navigation">
  <div [ngClass]="['links', alignment]">
    <ng-template [ngIf]="title">
      <div  class="mat-h1 title">ניווט ראשי</div>
    </ng-template>
    <ng-container *ngFor="let link of routes">
      <ort-button
        class="link"
        [routerLink]="getRoutingMethod('routing') ? link.route : null"
        (click)="
          getRoutingMethod('output') ? this.submitted.emit(link.route) : null
        "
        routerLinkActive="active"
      >
        {{ link.label }}
      </ort-button>
    </ng-container>
  </div>
</nav>
