@use 'media' as media;
:host {
  #categories {
    background-color: var(--primary-50);
    color: var(--primary-color);

    .main-title {
      // border-bottom: 3px var(--primary-color) solid;
      border-bottom: 0.3rem var(--primary-color) solid;
      display: inline-block;
      line-height: 1.5;
    }
  }


  .articles {

    &.grid{
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-bottom: 4rem;

    }

  }
}

