<div class="footer">
  <div class="boxes">

    <div class="box comunication ">
      <h2 class="title">התחברו אלינו</h2>
      <div class="comunication-items">
        <div class="instegram item">

          <ort-icon [svgPath]="instegram_icon"></ort-icon>
          <!-- <ort-icon  ></ort-icon> -->
        </div>
        <div class="linkedin item">
          <ort-icon [svgPath]="linkedin_icon" > </ort-icon>
        </div>
        <div class="facebook item">
          <ort-icon>facebook</ort-icon>
        </div>
        <div class="youtube item">
          <ort-icon [svgPath]="youtube_icon" > </ort-icon>
        </div>
      </div>
    </div>

    <div class="box contact">
      <h2 class="title ">דרכי התקשרות</h2>
      <div class="phone item ">
        <a>
          <ort-icon>phone</ort-icon>
        </a>
        <h4>02-5864831</h4>
      </div>
      <div class="fax item ">

        <ort-icon>fax</ort-icon>
        <h4>02-5864834</h4>
      </div>
      <div class="whatsapp item">
        <ort-icon>whatsapp</ort-icon>
      </div>
    </div>

    <div class="location box">
      <h2 class="title">פרטי הגעה</h2>
      <h2 class="sub-title">ארגון בוגרי מכללות אורט</h2>
      <h4>
        הנביאים 2, בניין 3,<br />קומת כניסה ,ירושלים<br />
        המשרד פועל בין השעות 9:00 - 13:00<br />
        בימים א - ה
      </h4>
      <div class="location-logo">
        <div class="item location">

          <ort-icon>place</ort-icon>
          <a href="">מפה</a>
        </div>
        <div class="waze item">
          <ort-icon [svgPath]="waze_icon"  ></ort-icon>
          <a href="" >נווט אלינו</a>
        </div>
      </div>
    </div>

    <div class="box ort-logo ">
      <img src="'./../../../../assets/images/footer-logoo.png" >
    </div>
  </div>
</div>

