@use 'media' as media;

:host {
  #categories {
    background-color: var(--primary-50);
    color: var(--primary-color);
    .query {
      width: 100%;
      text-align: start;
      .radio-group {
        display: block;
        text-align: center;
      }
    }
    .mat-radio-button {
      margin: 0px 8px;
    }

  }
}
