<section id="categories">
  <ort-button
    type="button"
    routeTo="/main/articles/create-article"
    className="mat-raised-button bar-btn-primary"
    >הוסף מאמר</ort-button
  >
  <div class="container">
    <mat-form-field class="query" appearance="fill">
      <mat-label>חיפוש</mat-label>
      <input type="text" matInput [formControl]="searchControl" />
      <ng-container *ngIf="categories | async as cats">
        <mat-radio-group
        class="radio-group"
        [formControl]="radio"
        aria-label="Select an option"
        >
        <ng-container *ngFor="let cat of cats">
            <mat-radio-button [value]="cat.id">
              {{ cat.hebName }}</mat-radio-button
            >
            <!-- <mat-radio-button value="2">כללי</mat-radio-button> -->
          </ng-container>
          </mat-radio-group>
      </ng-container>
    </mat-form-field>

    <ng-container> </ng-container>
    <ng-container *ngIf="articles$ | async as arts">
      <div class="articles">
        <ng-container *ngFor="let article of arts">
          <article class="card">
            <a [routerLink]="['../articles/article-detail', article.id]">
              <ort-card
                [heading]="article.heading"
                [subheading]="article.subheading"
                [img]="article.img | addEnvVar"
                [detail]="article.detail"
              ></ort-card>
            </a>
          </article>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
