

@use 'fonts' as font;
:host {
  .hero {
    height: 30vh;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .hero-title {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .container {
    h1 {
      color: var(--accent-900);
      font-weight: 700;
      margin-bottom: 3rem;
    }
    .paragraph {
      color: var(--accent-900);
      @include font.h-1;
      padding: 1rem;
    }
    ul{
      list-style: disc;
      padding: 3rem;
    }
    .phones-container{
      background-color: var(--accent-lighter-color);
      border-radius: 2rem;
      p{
        color: var(--accent-900);
        @include font.h-1;
        padding: 0.5rem;
        text-decoration: underline;
      }
    }
  }
}
