<!-- <div class="wrapper">
  <div class="content">
    <h1>אזור ניהול האתר</h1>
    <h3>במסך זה ניתן לנהל את כלל הישויות באתר</h3>
    <h3>ניתן לנווט לכלל אזורי הניהול על ידי תפריט הניווט שלצד המסך</h3>
    <h3>בכל מסך ניתן לערוך חיפוש ולבצע פעולות על כלל הרשומות</h3>
  </div>
</div> -->

<div class="wrapper">
  <div class="container">
    <h1 class="mat-display-2">אזור ניהול האתר</h1>
    <div class="phones-container">
      <ul>
        <li>
          <p class="paragraph">
            <strong>ניהול כלל הישויות באתר&nbsp;</strong>
          </p>
        </li>
        <li>
          <p>
            <strong>
              ניתן לנווט לכלל אזורי הניהול על ידי תפריט הניווט שלצד המסך
            </strong>
          </p>
        </li>
        <li>
          <p>
            <strong>
              בכל מסך ניתן לערוך חיפוש ולבצע פעולות על כלל הרשומות
            </strong>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
