<section class="container">
  <div>
    <h2 id="title">אפס את סיסמתך</h2>
    <p *ngIf="passwordReset">Your password has been reset.</p>
    <form class="formGroup" [formGroup]="form" (ngSubmit)="onResetPassword()">
      <!-- <ort-va-input [config]="tokenControl" [formControlName]="tokenControl.name">dcsd</ort-va-input> -->
      <ort-va-input
        [config]="passwordControl"
        [formControlName]="passwordControl.name"
      ></ort-va-input>

      <ort-button className="mat-raised-button" type="submit">שלח</ort-button>
    </form>
  </div>
</section>
