<section id="create-article">
  <div class="container">
    <h1>יצירת פוסט</h1>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" >
      <ort-va-input
        [config]="headingConfig"
        [formControlName]="headingConfig.name"
      ></ort-va-input>
      <ort-va-input
        [config]="subheadingConfig"
        [formControlName]="subheadingConfig.name"
      ></ort-va-input>
      <ort-va-input
        [config]="detailConfig"
        [formControlName]="detailConfig.name"
      ></ort-va-input>
      <ort-va-dorpdown-selection  [config]="categoryConfig" [formControlName] = "categoryConfig.name" > </ort-va-dorpdown-selection>
      <!-- <ort-file-upload  [requiredFileType]="'.png'" [formControlName] = "'img'" ></ort-file-upload> -->
      <ort-file-upload  [formControlName] = "'image'" [progress]="progress" >

      </ort-file-upload>
      <!-- <mat-error *ngIf="articleForm.controls['image'].invalid && articleForm.controls['image'].dirty || articleForm.controls['image'].touched" >נדרשת תמונה בעלת אחת סיומות הבאות jpg, jpeg, png</mat-error> -->
      <ort-button type="submit" class="btn" className="mat-raised-button bar-btn-primary"
        >צור</ort-button
      >
    </form>
  </div>
</section>
