<p>nav-bar works!</p>
<!-- classic buttons : home, about -->
<!-- drop down Clasic button -->
<!-- diffrent button : כניסה , יציאה, החשבון שלי -->

<ng-container *ngFor="let link of links$ | async">
  <ng-container [ngSwitch]="link.name">
    <ng-container *ngIf="link.isshow">
      <a
        *ngSwitchCase="'logout'"
        routerLinkActive="active"
        (click)="logout()"
        [routerLink]="link.route"
      >
        <ml-mat-button [color]="'primary'">
          {{ link.label }}
        </ml-mat-button>
      </a>
      <a *ngSwitchDefault routerLinkActive="active" [routerLink]="link.route">
        <ml-mat-button [color]="'primary'">
          {{ link.label }}
        </ml-mat-button>
      </a>
    </ng-container>
  </ng-container>
</ng-container>
